<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rokuan.com.eranote" >
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Light"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteActivity"
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".NoteViewActivity"
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>
</manifest>
